<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layoutPage}" th:with="currentPage='teachers'">
<head>
    <meta charset="UTF-8">
    <title>Teachers</title>
</head>
<body>
<th:block layout:fragment="main">
    <h1>Teachers</h1>

    <div>
        <a th:href="@{/teachers/create}" class="btn btn-primary btn-sm" role="button">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"> Create</span>
        </a>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Subject</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tr th:each="teacher : ${teachers}">
            <td th:text="${teacher.id}"></td>
            <td th:text="${teacher.firstName}"></td>
            <td th:text="${teacher.lastName}"></td>
            <td th:text="${teacher.subject}"></td>
            <td>
                <a th:href="@{/teachers/__${teacher.id}__}" class="btn btn-warning btn-sm" role="button">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"> Update</span>
                </a>
            </td>
        </tr>

    </table>

</th:block>
</body>
</html>